html {
  text-align: center;
  box-sizing: border-box;
  margin-left: 100px;
  margin-top: 100px;
}

.title {
  text-align: left;
  margin-left: 85px;
}

.restart {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  width: 100px;
  height: 30px;

}

.winner {
  text-align: left;
  margin-left: 0px;
  color: green;
}

.tie {
  text-align: left;
  margin-left: 130px;
  color: red;
}
.row-0 {
  border-bottom: solid black 3px;
}

.row-2 {
  border-top: solid black 3px;
}

.col-0 {
  border-right: solid black 3px;
}

.col-2 {
  border-left: solid black 3px;
}

.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  box-sizing: border-box;
}

.row {
  width: 320px;
  height: 100px;
}

.player {
  text-align: center;
  margin-left: 40px;
  margin-top: 40px;
  position: absolute;
}

/*h2 {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}*/
